body {
    background-color: #555;
}
h1 {
    text-align:center;
    color:#1b213a;
}

#container {
    width:650px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    background-color:#d8ecd5;
    box-shadow: 0px 0 10px #333;
}
